@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 3%;
    color: #02b875;
    opacity: .8;
}

.innerWrapper {
    background: #fff;
    padding: 40px;
    box-shadow: 1px 1px 3px 1px rgba(48, 47, 47, 0.2);
    border-radius:3px;
}
.addTask {
    background: red;
    margin:0;
}
.addTask input {
    width:100%;
    position: relative;
    height:35px;
    padding: 10px;
    font-size:14px;
    border: 1px solid rgba(48, 47, 47, 0.4);
}

.addTask button {
    position: absolute;
    width:40px;
    margin-left: -40px;
    background-color: #02b875;
    border: none;
    height:35px;
    color: #fff;

}

.info {
    color: rgba(48, 47, 47, 0.7);
    font-size: 14px;
}
.ui-state-default {
    border-bottom: 1px solid rgba(48, 47, 47, 0.2);
    margin: 5px 0;
    padding: 5px;
    font-size:15px;
    position: relative;
}
.ui-state-default img {
    width: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.remaining{
    color: rgb(212, 36, 36);
}
.completed {
    color: #028b75;
}


.filterClass ul {
    display: table;
    width: 100%;
    margin: 5% 0;
    /* background:red; */
    padding:0;
}

.filterClass ul li {
    display: table-cell;
    width: 33.33%;
    font-size:15px;
    border-bottom: 1px solid rgba(48, 47, 47, 0.2);
    padding: 8px;
    text-align: center;
    opacity: .9;    /* color: rgba(48, 47, 47, 0.8); */
}

.filterClass ul li:hover {
    cursor: pointer;
}

.activatedFilter {
    background: #02b875;
    color: #fff;
}

.itemCounterInfo {
    font-size: 14px;
    color:rgba(48, 47, 47, 0.7);
    margin: 20px 5px;
}

.itemCounterInfo span {
    font-weight: bold;
    font-size: 18px;
}
.danger {
    color: red;
}

.nodanger {
    color: #02b875;
}
